ul.nav.nav-tabs.mt-3
    li.nav-item
        a(class=(tab === 'user' ? 'nav-link active' : 'nav-link') href='/admin/users/tab=user') Users
    li.nav-item
        a(class=(tab === 'role' ? 'nav-link active' : 'nav-link') href='/admin/users/tab=role') Roles