doctype html

html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='theme-color' content='#000000')
        meta(name='description' content='An app for creating templates and generating docs')

        title= process.env.APP_NAME

        script(src='/jquery.js')
        script(src='/app.js')
        link(href='/app.css' rel='stylesheet')

        block headScripts
    body

        div#main(style='min-height: 100vh')
            include navbar.pug

            include ../snippets/flash.pug

            block content
            
            footer#footer(style="position: absolute; bottom: 0; right: 20px")
                p developed by Paul Peng

        script(src='/public.js')

        block bottomScripts

        

    
    

