extends ../layouts/layout.pug

block content
    div(class='container-fluid mt-5')
        div(class='row')
            div(class='col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-10 offset-sm-1')
                div(class='card')
                    div(class='card-header') Login
                    div(class='card-body')
                        form(method='post' action='/auth/signin')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            div(class='form-group')
                                label(for='email') Email Address
                                input(type='email' value=input && input.email ? input.email : '' class='form-control' name='email')
                            div(class='form-group')
                                label(for='password') Password
                                input(type='password' class='form-control' name='password')
                            button(type='submit' class='btn btn-primary') Login
